body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#inputID::placeholder {
  color: white;
}

#white{
  color: white;
}

#nav-bar{
  z-index: 1;
  background-color: #000000 ;

}

#black{
  color: #faf6f5;
  background-color: #313035;
}

.btn-close{
  color: white;
}